body{ 
    padding-top : 40px;
    margin-left : 30px;
    }
    
    h1{
    justify-content: center;
    text-align: center;
    }
    
    .pic1{
        padding-left : 600px;
        padding-bottom : 10px;
    }